apps/back/* @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson
apps/front/* @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson
packages/common/* @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson @TekMath @Yann-Masson
